@page
@model GolfClubReservationSystem.Pages.BookStandinTeeTimeModel
@{
    ViewData["Title"] = "Book Standing Tee Time";
}

@section scriptContent
{
    <script src="~/libraries/jquery/jquery.js"></script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h1>Book Standing Tee Time </h1>
@* <div asp-validation-summary="All" class="text-danger"></div> *@
<form method="post"  >
    <table>
        <tr>
            <td>Member ID:</td>
            <td><input asp-for="MemberID" />
                <span asp-validation-for="MemberID"></span>
            </td>
            <td>Name:</td>
            <td><input asp-for="MemberName" />
                <span asp-validation-for="MemberName"></span>
            </td>
        </tr>
        <tr>
            <td>Member ID:</td>
            <td><input asp-for="MemberID2" />
                <span asp-validation-for="MemberID2"></span>
            </td>
            <td>Name:</td>
            <td><input asp-for="MemberName2" />
                <span asp-validation-for="MemberName2"></span>

            </td>
        </tr>
        <tr>
            <td>Member ID:</td>
            <td><input asp-for="MemberID3" />
                <span asp-validation-for="MemberID3"></span>
            </td>
            <td>Name:</td>
            <td><input asp-for="MemberName3" />
                <span asp-validation-for="MemberName3"></span>
            </td>
        </tr>
        <tr>
            <td>Member ID:</td>
            <td><input asp-for="MemberID4" />
                <span asp-validation-for="MemberID4"></span>
            </td>
            <td>Name:</td>
            <td><input asp-for="MemberName4" />
                <span asp-validation-for="MemberName4"></span>
            </td>
        </tr>
        <tr>
            <td>Requested Day of Week:</td>
            @* <td><input asp-for="RequestedDayOfWeek" /></td> *@
            <td>
                <select asp-for="RequestedDayOfWeek">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>

            </select>
            </td>

            <td>Requested Tee Time :</td>
            @* <td><input asp-for="RequestedDayOfWeek" /></td> *@
            <td>
                <select asp-for="RequestedTeeTime">
                    <option value="30">30 Minutes</option>
                    <option value="60">60 Minutes</option>
                    <option value="90">90 Minutes</option>
                    <option value="120">120 Minutes</option>
                   

                </select>
            </td>
           
        </tr>
        <tr>
            <td>Requested Start Date:</td>
            <td><input asp-for="RequestedStartDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
            <td>Requested End Date:</td>
            <td><input asp-for="RequestedEndDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">
                <input type="submit" value="Submit" name="submit"/>
            </td>
        </tr>
    </table>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="color: green;">@Model.Message</p>
    <div asp-validation-summary="ModelOnly"></div>
}