@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}



<h1>Welcome to Club BAIST</h1>

<div class="d-grid gap-2 mt-4">
    <a asp-page="/Login" class="btn btn-light btn-lg">Sign In</a>
    <a asp-page="/Register" class="btn btn-outline-light btn-lg">Sign Up</a>
</div>
