@page
@model GolfClubReservationSystem.Pages.MembershipCommitteModel
@{
}
<h1>Membership Committee Dashboard</h1>
<p>Welcome, @Model.Username</p>
<div>
    <a asp-page="/MembershipRecord"><button>Membership Record</button></a>
    <a asp-page="/ReviewMembership"><button>Review Membership</button></a>
</div>

